{% include "header.html" %}
{% from 'macros.html' import stat_table with context %}

<div class="ui-widget container">
    <h1>{{ player.full_name }}</h1>
    <h4>{{ player.team }} #{{ player.uniform_number }}</h4>
    Height: {{ player.height|int // 12 }}'{{ player.height|int % 12 }}"&nbsp;&nbsp;&nbsp;&nbsp;
    Weight: {{ player.weight }}&nbsp;&nbsp;&nbsp;&nbsp;
    Years Pro: {{ player.years_pro }}&nbsp;&nbsp;&nbsp;&nbsp;
    Born: {{ player.birthdate }}&nbsp;&nbsp;&nbsp;&nbsp;
    College: {{ player.college }}&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ player.profile_url }}">NFL Profile</a>
	

	<table class="table table-sm">
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Passing", "rushing", "recivieng", "defense", "fumbles", "penalty"],
        datasets: [{
            label: 'Player Stats',
            data: [{{ stat_table("rushing") }}, {{ stat_table("timeout") }}, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
    
        {{ stat_table("passing") }}
        {{ stat_table("rushing") }}
        {{ stat_table("receiving") }}
        {{ stat_table("defense") }}
        {{ stat_table("fumbles") }}
        {{ stat_table("penalty") }}
        {{ stat_table("kick") }}
        {{ stat_table("punt") }}
        {{ stat_table("xp") }}
        {{ stat_table("timeout") }}
    </table>
</div>

{% include "footer.html" %}
